[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./ep_notification_service/config/*,
       ./ep_notification_service/wsgi.py,
       *__init__*